@import "bulma.min.css";


/* portfolio template css */

html {
    font-size: 18px;

} 
section {
  background-color: purple;
  color: white;
  padding:10px;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid blue;
}